#HomeBannerMain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    margin-bottom: 30px;
    background: linear-gradient(180deg, #1d8d39 0%, #1a522d 50%, #021b09 100%);
}

#HomeNav { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#link_title, #link_sub {
    text-decoration: none;
}


h1#home {
    
    display: flex;
    font-size: 4em;
}

p#subtitle_home {
    display: flex;
    margin-top: 10px;
    font-size: 1.5em;
    color: white;
    font-family: 'Heart-Breaking-Bad';
}

section {
    
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: 'Heart-Breaking-Bad';
    src: url(assets/fonts/BRB.otf) format('opentype');
  }

div#container {
    width:  90px;
    height: 90px;
    background: linear-gradient(180deg, #0B3B17 0%, #1A472A 50%, #0B3B17 100%);
    color: white;
    outline: 2px solid white;
    
    
}

div#BR {
    height: 50px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

div#number {
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    align-items: end;
    justify-content: end;
    font-size: 15px;
    

}

div#BA {
    height: 50px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

div#none {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}