:root {
  --green: #0B3B17;
  --red: #D72638;
  --gold: #F4C842;
    --breaking-bad-green: #4CAF50; /* Meth lab suit green */
    --breaking-bad-yellow: #FFEB3B; /* Hazmat suit yellow */
    --breaking-bad-blue: #2196F3; /* Meth blue */
    --breaking-bad-font: 'Courier New', Courier, monospace; /* Similar to the show's font */
}







#formTitleContainer {
  text-align: center;
  margin-bottom: 20px;
}

#formt_title {
  color: var(--breaking-bad-green);
  font-family: var(--breaking-bad-font);
  font-size: 2em;
}

#formContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  background: linear-gradient(00deg, #1d8d39 0%, #1a522d 50%, #021b09 100%);
  border: 2px solid var(--breaking-bad-green);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  
}

form#form_ {
  height: 100%;
  min-width: 99%;
  border: 3px solid var(--breaking-bad-yellow);
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 20px;
  border-radius: 10px;
  position: relative; /* For the green smoke animation */
}

#form_ input::placeholder {
  
  color: (var(--breaking-bad-green)); 
  backdrop-filter: blur(2px);
}

#character {
  flex: 1;
  background-color: transparent;
  padding: 10px;
  font-size: 16px;
  border: 4px solid var(--breaking-bad-blue); /* Chemical formula border */
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--breaking-bad-blue);
  font-family: var(--breaking-bad-font);
  background-image: url("../../assets/blue-meth.png"); /* Blue meth background */
  background-size: cover;
}

#character::placeholder {
  color: var(--breaking-bad-yellow);
  font-family: var(--breaking-bad-font);
  content: "Say my name"; /* Placeholder text */
}

#submitButton {
  transition: ease-in 0.2s ;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  height: 65px;
  background-color: var(--breaking-bad-green);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--breaking-bad-font);
}

#submitButton:disabled {
  background-color: var(--red);
  cursor: not-allowed;
}





img#submitButtonImg {
  width: 50px;
  rotate: 90deg;
}


.suggestions-list {
  position: absolute;
 
  top: 100%;
 
  left: 0;
  right: 0;
  background-color: var(--green);
  border: 1px solid var(--gold);
  list-style-type: none;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
 
  border-radius: 4%;
}

.suggestion-item {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
 
}

.suggestion-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 4px;
}

.suggestion-item:hover {
  background-color: var(--breaking-bad-green);
}


.comparison-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-top: 20px;
  padding-bottom: 20px;
  overflow: auto;
}

.comparison-labels {
  background-color: #0B3B17;
  border-radius: 15px;
}

.comparison-labels,
.comparison-values {

  display: flex;
  justify-content: space-around;
  width: 100%;
  
}


.label-item,
.comparison-item {
  flex: 1;
  
  padding: 10px;
  text-align: center;
}

.comparison-results {
  max-height: 500px;
 
  overflow-y: auto;
 
  padding: 10px;
 

  margin-top: 20px;
 
}


.comparison-item {
  margin: 5px;
  padding: 10px;
  text-align: center;
  max-width: 150px;
  word-wrap: break-word;
 
}

.match {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
 
  border-radius: 13px;
  padding: 0;
  border: 2px solid #085e1c;
}

.mismatch {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #8d0e18;
  background-color: var(--red);
 
  border-radius: 13px;
  padding: 0;
}

.partial-match {
  background-color: #886602;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  padding: 0;
  border: 2px solid #aa830f;
  background-color: #886602;
}


div#sucess-messageContainer {
 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#congratsTitleContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.success-message {
  background-color: var(--green);
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 100%;
  border: 1px solid #FFCA4B;
  border-radius: 20px;
  position: relative;
 
  top: 20px;
 
}

div#colorIndicatorsContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  outline: 1px solid red;
}


div#colorIndicators {
  width: 450px;
  height: 130px;
  outline: 1px solid blue;
  text-align: center;
}

div#indicatorContainer {
  outline: 1px solid yellow;
  display: flex;
}

div#correctIndicator,
div#incorrectIndicator, div#parcialIndicator {
  width: 60px;
  outline: 1px solid white;
  margin: 20px;
  gap: 40px;
}

div#lastCharacterDetails {
  display: flex;
  align-items: center;
  justify-content: center;


}

img#lastCharacterImg {
  width: 70px;
  height: 70px;
  border: 1px solid var(--gold);
  border-radius: 10px;
}

p#lastCharacterName {
  font-size: 1.2em;
  margin: 10px;
}

div#lastCharacterSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 1px solid green;
}

div#lastCharacterTitle {
  margin-bottom: 16px;
}

div#greenSquare {
  margin: auto;
  background-color: var(--green);
  width: 32px;
  height: 32px;
}

div#redSquare {
  margin: auto;
  background-color: var(--red);
  width: 32px;
  height: 32px;
}

div#yellowSquare {
  margin: auto;
  background-color: var(--gold);
  width: 32px;
  height: 32px;
}

p#greenText {
  width: 32px;
  height: 32px;
}

p#redText {

  width: 32px;
  height: 32px;
}

p#yellowText {

  width: 32px;
  height: 32px;
}

div#characterGuessRight {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  gap: 20px;
  outline: 1px solid wheat;
}

.comparison-images {
  margin-top: 10px;
}

.comparison-img {
  width: 87px;
  height: 92px;
  object-fit: cover;
  border-radius: 14px;
 
}

.image-wrapper {
  width: 150px;
 
  height: 150px;
 
  overflow: hidden;
 
  position: relative;
 
}

img#guessedCharacterImg {
  width: 100px;
  outline: 1px solid var(--gold);
  border-radius: 10px;
}

img#previousCharacterImg {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid var(--gold);
}

div#previousCharacter {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  outline: 1px solid white;
}


p#guessedCharacterName,
p#timeRemaining {
  font-size: 1.8em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  outline-color: 1px solid blue;
}

p#tries {
  font-size: 2em;
  margin: 20px;
}

@keyframes fadeInCell {
  0% {
    opacity: 0;
    transform: translateY(10px);
   
  }

  100% {
    opacity: 1;
    transform: translateY(0);
   
  }
}


.comparison-item {
  opacity: 0;
  animation: fadeInCell 0.6s ease forwards;
}




.comparison-container .comparison-item:nth-child(1) {
  animation-delay: 0s;
 
}

.comparison-container .comparison-item:nth-child(2) {
  animation-delay: 0.6s;
 
}

.comparison-container .comparison-item:nth-child(3) {
  animation-delay: 1.2s;
 
}

.comparison-container .comparison-item:nth-child(4) {
  animation-delay: 1.8s;
}

.comparison-container .comparison-item:nth-child(5) {
  animation-delay: 2.4s;
}

.comparison-container .comparison-item:nth-child(6) {
  animation-delay: 3s;
}

.comparison-container .comparison-item:nth-child(7) {
  animation-delay: 3.6s;
}

.comparison-container .comparison-item:nth-child(8) {
  animation-delay: 4.2s;
}

.comparison-container .comparison-item:nth-child(9) {
  animation-delay: 4.8s;
}

.comparison-container .comparison-item:nth-child(10) {
  animation-delay: 5.4s;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
   
  }

  to {
    opacity: 1;
    transform: translateY(0);
   
  }
}

.success-message {
  animation: fadeIn 1s ease-in-out, slideIn 1s ease-in-out;
}